<div class="row heading">
  <div class="col-lg-3 col-sm-6">
    <div class="item promo">
      <%= image_tag("promo-logo.jpg", :alt => "PROMO logo") %>
       <h1><strong>.PROMO</strong> keeps ecommerce rolling</h1>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Statistics</h1>
      </div>
      <div class="body">
        <p><a href="#">100</a> public repos</p>
        <p><a href="#">299</a> members</p>
        <small><a href="mailto:">info@phenomana.com</a></small>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#"><small>&rarr; View All on GitHub</small></a>
      </div>
    </div>
  </div>
</div>

<div class="row content">
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Javascript</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Java</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Java</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Java</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Java</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Java</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Java</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="item">
      <div class="header">
        <h1>Recently updated</h1>
        <a href="#" class="tag"><small>Java</small></a>
      </div>
      <div class="body">
        <p>Some content with <a href="#">some link</a> and description</p>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-default backtotop">&uarr; TOP</button>
